body {
  margin: 0;
  font-family: "Montserat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: "Montserat", sans-serif;
}
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}
body, html {
  height: 100%;
  font-family: "Montserat", sans-serif;
  background-color: #f4f5fd !important;
}
a {
  font-family: "Montserat", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  cursor: pointer;
}
a:focus {
  outline: none !important;
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
  color: #6675df;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserat", sans-serif;
  margin: 0px;
}
p {
  font-family: "Montserat", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}
ul, li {
  margin: 0px;
  list-style-type: none;
}
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
textarea:focus, input:focus {
  border-color: transparent !important;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }
input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}
textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}
label {
  display: block;
  margin: 0;
}
button {
  outline: none !important;
  border: none;
  background: transparent;
}
button:hover {
  cursor: pointer;
}
iframe {
  border: none !important;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mb-10 {
  margin-bottom: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.main-button button {
  color: #fff;
  background-color: #038147;
  border: 1px solid #038147;
}
.main-button button:hover, .main-button button:active, .main-button button:focus {
  color: #fff;
  background-color: #069c56;
  border: 1px solid #069c56;
  box-shadow: none;
}
.secondary-button button {
  color: #038147;
  background-color: #fff;
  border: 1px solid #038147;
}
.secondary-button button:hover, .secondary-button button:active, .secondary-button button:focus {
  color: #fff;
  background-color: #069c56;
  border: 1px solid #069c56;
  box-shadow: none;
}