#navbarSupportedContent {
    justify-content: flex-end;
}
.navbar {
    padding: 0 !important;
    box-shadow: 0px 0px 6px 0px darkgray;
}
.navbar-brand .logo {
    width: 60px;
}

/* Greeting */
.greeting {
    color: #42a075;
    font-weight: 600;
    font-size: 14px;
}
.greeting:hover, .greeting:active, .greeting:focus {
    color: #42a075;
}
.down {
    width: 15px;
    margin-bottom: 2px;
}
.nav-img {
    width: 35px;
}

/* Notification */
.notification-icon {
    width: 16px;
}

/* Search */
.main {
    min-width: 250px;
}
.form-group {
    position: relative;
    min-width: 250px;
}
.form-group .form-control {
    color: #808080;
    font-size: 12px;
    min-width: 250px;
    height: 36px;
    border: 1px solid #b0b0b0;
    background-color: #f7f7f7;
}
.form-control:focus {
    box-shadow: none !important;
    border: 1px solid #42a075 !important;
}
.form-group .search-icon {
    position: absolute;
    right: 8px;
    width: 16px;
    top: 10px;
}